[2016-11-21 18:54] richo-stripe opened #2 "Numeric pins break everything"
On OSX, I have a numeric pin stored that I want to retrieve.

I'm assuming that the code here: https://github.com/hwchen/keyring-rs/blob/master/src/macos.rs#L98-L104 is meant to deal with binary objects (although I can't find any code for trying to serialize as hex), in the case of my ascii numeric pin it's trying to decode it as hex and then turn that into UTF 8 which fails, and as a result I can

[2016-11-22 22:21] hwchen commented on #2
Hi, thanks for filing the issue. Sorry about the bug, I'll take a look at your PR.

[2016-11-23 00:45] hwchen commented on #2
Hello,

Just need to verify how this (#3) is working for you (I don't currently have access to osx).

From my research, it looks like because I pass the `-w` flag to the `security` command, the password should come back as hex. As mentioned above, I can't currently verify this because I don't have access to osx. But the stackoverflow here mentions it in the expansion to the accepted answer: http:/

[2017-01-29 14:29] alexwlchan opened #4 "Weird bug with hex conversions on macOS"
I have a weird bug where certain strings cause keyring-rs to throw an error on macOS. I haven’t worked out exactly what’s causing it, but it looks like my keychain entries are being interpreted as hex, and that’s throwing it off.

If I create a keychain entry `("testing", "password", "aa")`, put the following in `main.rs` and then call `cargo run`:

[code]

I get the following error:

[code]

Othe

[2017-01-29 14:42] alexwlchan commented on #4
I’m using the following diff in my fork, and that seems to have resolved my problems for now:

[code]

[2017-01-29 18:49] hwchen commented on #4
Hi,

Thanks for the report! I'm in the process of procuring a mac to help finish up development on this library.

I should be able to push a fix to crates.io by the end of the week, hope you can make do for now. I need to go back and verify the behavior of http://stackoverflow.com/questions/22370552/keychain-services-secure-notes and see if I just made a dumb mistake in the original implementation

[2017-01-29 18:53] hwchen opened #5 "1.0 plans"
Next plans for this lib:

- [x] figure out cross-compilation details (making sure unneeded dependencies are not compiled?) (v0.3.0)
- [x] windows backend (v0.3.0)
- design: should osx keychain be unlocked from cli (only required from ssh)?
- traits-based design?
- tests and CI.
- docs
- osx backend with https://crates.io/crates/security-framework (which I think should work)

Edit (9/27/2018):

I t

[2017-02-13 04:30] hwchen commented on #4
Closed by #6. Now handles utf8 passwords (including "special chars) on osx correctly. Version is bumped to 0.2

[2017-02-13 04:30] #4 closed

[2017-02-13 04:31] hwchen commented on #2
Closed by #6. Now handles utf8 passwords (including "special chars) on osx correctly. Version is bumped to 0.2

[2017-02-13 04:31] #2 closed

[2017-02-26 23:38] steveatinfincia commented on #5
I would be happy to help convert the OS X support to use `security-framework` :)

At the moment I think the only thing blocking that is support for storing/retrieving generic passwords in the keychain in `security-framework`, but there is a [pull request open](https://github.com/sfackler/rust-security-framework/pull/17) for that. I may take a look at that as well to see if there is anything I can

[2017-02-28 13:55] hwchen commented on #5
That would awesome! Keep me posted.

[2017-03-05 15:22] hwchen opened #9 "Handling of empty string passwords (and other empty input)"
secret service (linux vault) does not create an item for an empty secret.

Not sure if osx is the same (will check later today), but am thinking whether it makes sense to check for empty input.

If this were a single-system library, I'd probably let the system vault since the library should just be a pass-through interface (and in case the system behavior changes).

But it might be good to make su

[2017-03-08 15:11] hwchen commented on #9
This should be a non-issue... it seems that rust-crypto is not encrypting blank input: https://github.com/DaGenix/rust-crypto/issues/410

Once the linux crypto side is resolved, there should be uniform expected behavior, at least across osx and linux. Will update keyring when that happens.

[2017-03-13 17:17] steveatinfincia commented on #5
I'm about 95% done with the OS X keychain support, just doing some testing :)

[2017-03-14 02:49] hwchen commented on #5
Awesome, looking forward to it!

On Mar 13, 2017, 1:17 PM -0400, Stephen Oliver <notifications@github.com>, wrote:

[2017-07-13 14:55] NJAldwin opened #11 "Version 0.4.0 Yanked"
I see that version 0.4.0 has recently been yanked from crates.io, but I don't see anything stating why.  Was there a security vulnerability?  0.3.0 hasn't been yanked; is it still safe to use?

[2017-07-14 00:37] hwchen commented on #11
Sorry, I've been a little behind in updating this library.

The reason I yanked 0.4.0 was because I was going to update the dependency to my secret-service library. Unfortunately, the bug I fixed was not actually fixed (turned out to be unfixable because of a bug encoding empty strings in rust-crypto), so I yanked that version of ss, and then also keyring. I waited a bit to think about what I shou

[2017-08-09 14:23] hwchen commented on #11
Was resolved by ecbdffd4787c2dc758f62f95141df7284fb77770

[2017-08-09 14:23] #11 closed

[2017-12-16 23:17] dario23 commented on #5
will there be support for setting a different application name on linux in the forseeable future? :-)

[2017-12-18 16:36] hwchen commented on #5
@dario23 Could be :) I'll be doing some updates to dependencies soon (including winapi 0.3 and a pull request for rpassword), so I'll try to also do work for support for different application names.

[2017-12-19 17:39] dario23 commented on #5
i could write a pull request as well; but the question (i guess) isn't about who writes the (presumably) short patch, but rather how you'd want it to fit into the existing API

- the types for linux, windows and osx are currently different types with the same signature; how willing are you to have the implementations diverge?
- alternatively it could be a possibility to have a "set the application

[2018-01-02 17:36] dten opened #14 "Editing password from Windows Credentials manage results in spaced password"
I edited a password I had set to `bananas` but when I get it using `keyring` it showed as `b a n a n a s `
guess that's not meant to happen

[2018-01-02 18:49] hwchen commented on #14
Whoops, thanks, I'll look into it

On Jan 2, 2018 12:36 PM, "David Hewson" <notifications@github.com> wrote:

[2018-01-03 23:24] dten opened #15 "Panic on ubuntu-server / wsl"
If i try use this on ubuntu-server or windows subsystem for linux (wsl) / bash on windows I get the following error

[code]

is X11 really needed to access the keyring?

[2018-01-04 01:14] hwchen commented on #15
I can investigate more; my initial usecase was not for headless systems so
I didn't think about it.

You can also check
https://github.com/jaraco/keyring/blob/master/README.rst#using-keyring-on-headless-linux-systems
and https://github.com/jaraco/keyring/issues/280. My implementation is a
port of that library, so I think that issue might help

On Wed, Jan 3, 2018 at 6:24 PM, David Hewson <notifica

[2018-01-11 13:25] hwchen commented on #14
Sorry for delay, I've reproduced the error and will fix asap.

[2018-01-11 13:38] hwchen commented on #5
@dario23 sorry for delay. I've finally had some time to look over my code and think about your suggestions.

Something that would help me decide on the API is how you're using `application` differently than `service`.

I prefer that implementations do not diverge; it's better that I have responsibility for keeping all the cross-platform stuff in order, otherwise the code that users write will not

[2018-01-11 14:47] hwchen opened #16 "check out winapi 0.3"
winapi 0.3 has new api, check it out and consider upgrade

[2018-01-11 14:48] hwchen opened #17 "remove rustcserialize in favor of hex"
rustcserialize has split off hex functionality, use that instead.

[2018-01-11 17:32] dten commented on #14
Cool thanks

[2018-01-13 03:44] hwchen commented on #14
Looks like the issue was that I wasn't converting the password to utf16 before passing it to the windows vault. I'd originally done this because the secret blob format is determined by the application, and hadn't expected a use case where the blob would be edited by a third party application.

Thanks for bringing this to my attention, I should have a release tomorrow for you to try.

[2018-01-13 17:16] hwchen opened #18 "Move bin to examples"
Move bin to examples, so that the bin dependencies can be dev-dependencies

[2018-01-13 17:19] hwchen commented on #18
Or alternately, use workspaces or some other strategy:
https://stackoverflow.com/questions/35711044/specify-binary-only-dependencies

Basically, clap and rpassword seem like pretty heavy dependencies to bring for a bin if most people don't use the cli interface.

For those who do or don't use the bin, please feel free to weigh in.

[2018-01-13 18:11] hwchen commented on #17
resolved by 389bd6e0a3e4fe4d924a7a76814b2568073ad48c

[2018-01-13 18:11] #17 closed

[2018-01-13 18:13] hwchen commented on #14
Resolved by 2078b4776b10ac35d43b13debc5b4f4638d44235

New release 0.6.0 is out on [crates.io](https://crates.io/crates/keyring)

[2018-01-13 18:13] #14 closed

[2018-01-13 18:21] dten commented on #14
Thanks

[2018-09-19 18:14] Rukenshia opened #19 "MacOS: error reading hex output: OddLength"
Hi,

I am using keyring-rs in my tool but some of my mac users have problems with retrieving passwords:

Call to keyring:
`Keyring::new("saml2aws-auto", username).get_password()`

How it's saved:
`Keyring::new("saml2aws-auto", username).set_password(password)`

Error:

[code]

[2018-09-19 18:15] Rukenshia commented on #19
I believe they are running the latest macOS version, but didn't get more info on it so far. Can't reproduce it on my machine either.

I asked them to look into their Keychain Access and the password is stored correctly.

Do you need any other information?

[2018-09-20 18:32] Rukenshia commented on #19
@hwchen He said the password is stored correctly when viewing it in Keychain Access. I've asked him to manually run the command that the code runs and send me the output 🙂

[2018-09-21 15:30] Rukenshia commented on #19
@hwchen Here's part of the faulty password that breaks the library call: `+s+'G#\` I can reproduce it with this password.

[2018-09-21 16:53] hwchen commented on #19
Great, thanks! I'll look at it this weekend.

On Fri, Sep 21, 2018, 11:30 AM Jan C. <notifications@github.com> wrote:

[2018-09-23 20:09] hwchen commented on #19
@Rukenshia I've found the source of the problem; I thought I was handling osx' keychain output correctly when there were special characters in the password; but evidently your users had extra-special password characters which resulted in a structurally different osx keychain output.

Anyways, you thanks for the cli output from above; the fix will basically take only the hex string section and deco

[2018-09-25 01:42] Rukenshia commented on #19
Thank you a lot!

[2018-09-25 02:55] hwchen commented on #19
Oops, tried to publish the fix to crates.io, but had an oauth snafu. Should
be resolved tomorrow.

On Mon, Sep 24, 2018, 9:42 PM Jan C. <notifications@github.com> wrote:

[2018-09-27 15:13] hwchen opened #20 "Move cli to separate package to remove bin dependencies?"
Just wanted to see what the demand is for removing the bin dependencies. This hasn't come up yet, so I don't see it as a big issue. However, I do want to do some cleanup here, so curious if I should do this sooner than later.

If sooner, I'll have to break the cli out into a separate crate. I'd prefer not to do this, just because it's extra maintenance overhead.

If later, I can work on https://gi

[2018-09-27 15:14] hwchen opened #21 "v1.0 checklist - for real this time"
I think enough people have used this library to go ahead and plan to release 1.0 soon.

The main points I need to address:

- [x] release v1.0 of secret-service dependency (part of the is removing some dependencies)

For the future:
- move cli binary to its own library, which would remove the binary's dependencies. I'm going to hold off on this, and maybe release 2.0, because I'm thinking of worki

[2018-09-27 15:14] #5 closed

[2018-09-27 15:15] hwchen commented on #18
closed, because I thought of this all over again: https://github.com/hwchen/keyring-rs/issues/20

[2018-09-27 15:15] #18 closed

[2018-10-16 09:51] Rukenshia opened #22 ""MacOsKeychainError" when unprivileged"
Hey,

I've had another user report problems with my tool, and this time it seems to be related to the user not unlocking their Keychain (or not having adminsitrative rights to do so). I'm not entirely sure how to reproduce this but it would be nice if I could get another error type for this, telling me that their Keychain just isn't accessible so that I can print a nice error message.

[2018-10-16 18:44] hwchen commented on #22
Sounds good to me, will do.

On Tue, Oct 16, 2018, 5:51 AM Jan C. <notifications@github.com> wrote:

[2018-11-29 02:40] hwchen commented on #22
Sorry this has taken a while; I'll try to get this stuff done asap, but osx is not my usual dev platform and I need to re-setup my osx system.

[2018-12-13 16:02] Phrohdoh opened #23 "macOS requests password twice for each `get_password`"
Hi there and apologies for the possibly-confusing issue title!

This is my first programatic use of Keychain Access on macOS so what I'm running into may be normal/expected.

I am doing the following:

[code]

And the system prompts me twice for an administrator password.

How can I get these creds from the keychain without prompting the user for a password?

What I'm building is an internal tool

[2018-12-17 04:18] hwchen commented on #23
Hmmm... I’m not sure why it prompts you twice for a password.

But, it is expected that you log in to access this keychain. Keyring uses the native vault for each os it runs on.

If my understanding is wrong (and I’m not an everyday OS X user), please let me know.

[2018-12-17 11:41] Phrohdoh commented on #23
I may have to instruct users to "always allow" access to the keychain (which is functionality that Keychain Access provides to whitelist certain processes).  Nothing wrong with that, I was just hoping to do it all magically.

[2018-12-17 11:41] #23 closed

[2018-12-17 12:42] hwchen commented on #23
Sorry I couldn’t provide something better, but let me know if there’s other improvements I can make.

[2019-01-23 02:03] hwchen commented on #22
Sorry, it's been so long since this issue was filed. I've been busy with
other projects, and it's been a little difficult to get back into this
issue. I would be happy to take a pull request though. Otherwise, it will
likely be done sometime in the next few months (limited access to my mac
dev setup lately has also made this a bit difficult).

On Tue, Oct 16, 2018 at 2:43 PM Walther Chen <walther.

[2019-02-01 13:55] Rukenshia commented on #22
Thank you, I don't think I will have time to work on this myself but you also don't need to rush this in any way. I've added documentation for troubleshooting as a solution for now in my project. Without this library I wouldn't even have keyring access so your work is very much appreciated!

[2019-03-20 07:05] samuela opened #24 "MacOsKeychainError is not documented as far as I can tell"
When the user denies keychain access on macOS, keyring returns a `MacOsKeychainError` error, which would be fine except that it's not really clear how this works since it's not documented anywhere here: https://docs.rs/keyring/0.6.1/keyring/struct.Keyring.html. I tried searching the docs for the string "MacOsKeychainError" but there weren't any results: https://docs.rs/keyring/0.6.1/keyring/struct

[2019-03-22 01:12] hwchen commented on #24
Hi, sorry you couldn't find the error in the docs. Perhaps the docs are generated on linux, and so windows-specific and mac-specific errors are not rendered.

As for the non-specificity of the error, it's an issue I'd like to deal with soon. I have some more bandwidth coming up (as well as access to a mac again).

https://github.com/hwchen/keyring-rs/issues/22

[2019-03-22 01:17] hwchen commented on #24
https://github.com/rust-lang/rust/issues/1998

Looks like cross-platform documentation is not-yet-solved.
I'll think about putting some of this missing documentation into the readme.

[2019-03-22 02:58] samuela opened #25 "[feature request] gracefully handle Secret Service absence"
There are a number of scenarios in which there's either no Secret Service running on the machine or it's not available, eg. running in a Docker image. When trying to run an executable that depends on keyring-rs, the shell will respond with simply "No such file or directory". Debugging a bit shows us that the binary can't be run without gmp and dbus-1 available on the host system:
[code]
It would b

[2019-04-05 19:59] hwchen commented on #25
ah, sorry I didn't respond! I thought I had.

I like this idea, I'll try to implement this soon.

As for the gmp dependency, removing that is part of a long-awaited refactor.

[2019-04-18 00:43] jasikpark opened #27 "Basic Travis CI testing?"
Would it be helpful to add Travis CI to run `RUST_TEST_THREADS=1 cargo test` on all PRs on all platforms? I feel like it would be.

[2019-04-18 01:23] hwchen commented on #27
Yes, I've had it on my mind for a while but haven't quite gotten around to it. I'm happy to take PRs for it.

[2019-04-18 01:27] hwchen commented on #21
using `secuirity-framework` for osx (instead of the cli) has been merged to master. So, that will merit a 0.x.0 release, and one step closer to 1.0

[2019-04-18 02:21] jasikpark opened #28 "Add testing of README.md examples?"
https://blog.guillaume-gomez.fr/articles/2019-04-13+Keeping+Rust+projects%27+README.md+code+examples+up-to-date

The [doc-comment](https://crates.io/crates/doc-comment) crate has a macro `doctest!("../README.md");` that can test all examples in README.md to ensure they are up-to-date at all times.

[2019-04-20 00:29] hwchen commented on #20
I figured that nobody really cares about the cli bin. So, I'm moving it to examples, if anybody wants it back I could publish it as a separate crate.

[2019-04-20 00:39] hwchen commented on #20
closed by 2bc3d8ef261aedddaf75d95ba7307458bc5cc4ab removing cli from bin

[2019-04-20 00:39] #20 closed

[2019-04-20 02:22] hwchen commented on #22
I haven't tested it, but I think that the new security-framework backend should solve this. You can see in the pr merge https://github.com/hwchen/keyring-rs/commit/9773a686184f9dfa05946a6418a4794035433fd8 that the mac keychain error now wraps the security framework error type. I've seen it give errors with codes, so I imagine that it will give one for when the keychain is not accessible.

I'll be

[2019-04-20 02:24] hwchen commented on #24
the mac keychain error has been improved, see #22. Should be ready in the next version.

[2019-04-20 02:32] hwchen commented on #9
Fixed with update to secret service 1.0 68975839332e3dff0a5a3113a35ff5fb5e09a523

[2019-04-20 02:32] #9 closed

[2019-04-20 02:33] hwchen commented on #21
68975839332e3dff0a5a3113a35ff5fb5e09a523 updates secret service dep to 1.0, removing gmp dep and updating rust-crypto to RustCrypto (fixing blank input encrypting/decrypting)

[2019-04-20 02:34] hwchen commented on #21
cli was also moved to examples in 2bc3d8ef261aedddaf75d95ba7307458bc5cc4ab

[2019-04-20 02:59] hwchen commented on #25
hmmm... I thought more about the "file not found" error. I'm not sure how to handle this inside the library. secret service has to dynamically link libdbus, and from my understanding shared libraries are loaded before symbols in the executable.

The solution that comes to mind first is to put the keyring dependency behind a feature flag.

Let me know if you have any other ideas; I'm definitely not

[2019-04-20 03:19] hwchen commented on #22
0.7.0 published.

I'm going to close this issue for now, but feel free to open if you still can't get the error info you need.

[2019-04-20 03:19] #22 closed

[2019-04-20 03:21] hwchen commented on #21
Now that 0.7.0 has been published, with big improvements in osx and linux backends, I'm just going to see if they're stable enough, and then I'll just add some CI and feel ready for 1.0

[2019-04-20 18:34] hwchen commented on #27
well, I've been attempting linux on Travis. It's been difficult for me to mock the secret service test. So I'm leaving linux at just compiling for now. If anybody wants to attempt, I've mostly followed https://github.com/mitya57/secretstorage/blob/master/.travis.yml up until the point at which the mock secret-service is created using the run_test script. Unfortunately, even with the mock running,

[2019-04-20 23:16] samuela commented on #25
Hmm yeah I see how that gets complicated... This looks relevant though: https://www.reddit.com/r/rust/comments/3hrzsk/optionalruntime_loading_of_system_libraries/

[2019-04-21 03:33] hwchen commented on #27
I've added travis and appveyor; linux is still not working well, but I'm going to leave that for the future.

[2019-04-21 03:34] hwchen commented on #24
added a note in the readme that a cargo command can be run to get docs locally. Next step would be to render docs on each platform and host them somewhere myself.

[2019-04-21 03:43] hwchen commented on #21
@Rukenshia wanted to ping you on bringing keyring to 1.0, since your library is one of the biggest users judging from crates.io dependencies (and you've filed a lot of helpful issues). Please let me know if you upgrade to 0.7.0, and if you have any issues.

I'd probably feel comfortable enough to go to 1.0 if 0.7.0 was stable enough for you use.

[2019-04-21 04:22] hwchen commented on #25
Interesting; am I correct in thinking that this would have to be implemented at the level of the wrapper around libdbus, or would a check at a higher level (in `keyring`) work? I'd have to do a decent bit more digging on my part to be sure, so if you happen to know it would help me out.

[2019-04-21 19:33] samuela commented on #25
It looks like you could check in keyring pretty easily: https://doc.rust-lang.org/1.0.0/std/dynamic_lib/struct.DynamicLibrary.html. It would involve a limited bit of `unsafe` code but it would be possible.

[2019-04-22 09:52] Rukenshia commented on #21
Thanks for the ping @hwchen , I will update to 0.7 as soon as I can and ask the users to update. Nobody reported issues recently (still on 0.6.1).

[2019-05-03 02:05] hwchen commented on #25
I don’t have the bandwidth to look into this right now, but it’s something I can look at for my next round of maintenance.

[2019-10-16 20:04] hwchen opened #34 "make skeptic optional"
skeptic may be causing some tests to fail.

https://gitlab.com/torkleyy/err-derive/commit/23cf01e004118d8fa5001273c86cf001e91cf94a

[2020-02-20 11:28] dch opened #36 "*BSD support"
What is required to support keyring on a given unix system? FreeBSD presumably has something like gnome keyring in ports that could be used for this, or is it possible to point to a system like hashicorp vault as a generic secrets store?

[2020-02-25 14:23] hwchen commented on #36
Sorry for the delay in replying! I would love to support BSD, but am not sure what it would take. I’m happy to look into it when I have time, and am open to suggestions and pull requests.

[2020-02-25 14:37] dch commented on #36
thanks Walther,

Can you point out what library you require on linux at least? I can then see what's available
in FreeBSD for comparison.

[2020-02-25 14:42] hwchen commented on #36
I use secret-service, which is a protocol over dbus to interface with gnome keyring, kwallet, and other keyrings that implement the api.

https://github.com/hwchen/secret-service-rs
https://specifications.freedesktop.org/secret-service/latest/

[2020-03-05 20:39] hwchen opened #37 "update secret-service to 1.1.0"
secret-service 1.1.0 updates hkdf dependency, and fixes error handling related to missing collection.

[2020-03-24 08:40] moritzheiber opened #39 "Unreliable behavior of delete_password() across operating systems"
After [your comment](https://github.com/hwchen/keyring-rs/pull/38#issuecomment-602881762) I've created a short POC which (reproducably) succeeds on Linux, but fails on macOS and Windows:

[code]
On Linux this just reaches the `Ok(())` of the `NoPasswordFound` arm, on Windows it produces a `WindowsVaultError`, on macOS it returns a general `KeyringError` with the message `Mac Os Keychain Error: The

[2020-03-24 20:21] hwchen commented on #39
Thanks for this example! I'll take a look at it and have better/consistent error handling. I think that this will also affect the errors for `.get_password`.

[2020-03-24 22:13] hwchen commented on #39
I will be handling this case for sure; but I may also decide to do some more cleaning of error handling. See #40

[2020-03-25 06:57] moritzheiber commented on #39
Here are the only available error states for Secret Service (and therefore Linux): https://specifications.freedesktop.org/secret-service/latest/ch15.html

[2020-04-13 17:24] juliangilbey commented on #37
Also, the security-framework dependency is outdated :/

Best wishes

[2020-04-22 16:20] hwchen commented on #37
closed by #41

[2020-04-22 16:20] #37 closed

[2020-05-07 21:26] clintfred opened #42 "Mobile Support"
I may be way out in left field here, but would it every make sense to add support for android and iOS to keyring-rs? It seems like a unified keyring interface could be powerful as Rust continues to make inroads into the mobile space.

[2020-05-12 14:43] hwchen commented on #42
I'm not familiar enough with android and iOS to know if it would be valuable? If there's a use case, I'm happy to support it though :)

[2020-06-05 20:09] repi commented on #16
Think this can be closed as it is already using winapi 0.3 :)

[2020-06-20 02:17] nagasunilt opened #44 "Add ability to access named keychains in macOS."
Current macOS implementation uses the default keychain by default and does not support opening specific keychain. This limits our ability to open system keychain since default keychain is almost always login keychain on macOS. What is the best possible to add this support to current implementation? I made this [PR](https://github.com/hwchen/keyring-rs/pull/43) but open to any better implementation

[2020-06-20 02:40] hwchen commented on #44
Thanks for making the PR. I think that the functionality looks fine, I'm just a bit wary because I haven't created any guardrails in terms of keeping the interface consistent across each OS.

I created this when I was newer at Rust, so I didn't really think about having a trait `Keyring` that each OS would implement, with extension traits specific to each OS. I guess I'm just not sure whether that

[2020-06-20 03:17] hwchen commented on #44
I asked the question here: https://users.rust-lang.org/t/trait-necessary-for-cross-platform-interface/44581

[2020-06-23 01:37] hwchen commented on #44
Just want to ping some recent contributors about this. Having a Keyring trait would be a breaking change.

@MaikKlein @moritzheiber @bhkaminski

[2020-06-26 04:47] liamdawson opened #45 "Iterate usernames?"
Not sure if this is possible on all platforms, but I'm hoping there's a way to iterate usernames within the service. As an example, I'm creating a CLI where I'd like to support logging into to multiple accounts, but I'd currently need to record the usernames externally to support an autocomplete friendly list of accounts.

Something like this might work:

[code]

[2020-07-01 15:33] naga-cf commented on #44
Hello @hwchen any update on how you want to go with this?

[2020-07-01 15:33] nagasunilt commented on #44
@hwchen any update on how you want to move forward on this?

[2020-07-04 03:18] hwchen commented on #44
I think I will just add this functionality as you’ve implemented in your pull request, and then think about using traits for a new major version. Hopefully I’ll get to it this weekend.

[2020-07-04 23:20] hwchen commented on #45
@liamdawson if it's relatively straightforward on supported platforms, I think I'd be happy to support this. I don't have a lot of energy to put towards this, so it probably wouldn't happen unless somebody made a PR.

[2020-09-02 05:51] nagasunilt commented on #44
gentle bump!

[2020-10-09 16:31] Riduidel opened #46 "How does it work on raspbian ?"
The tone of my question may appear rude, and if so, please forgive my poor english level.

So, I maintain a project where a GitHub angel has contributed this PR https://github.com/Riduidel/rrss2imap/pull/46 using your excellent crate to securely store passwords. This is SERIOUSLY cool.
Unfortunatly, there is one thing that prevent me from merging it now: I deploy that executbale on my raspberry ru

[2020-10-22 17:28] hwchen commented on #46
Sorry, I don't have experience using raspbian. It looks like some of your issues are around libdbus. In the near future, when I have time (maybe next few weeks?) I'm thinking of updating one of the dependencies so that it no longer relies on libdbus, which I think might solve your problem.

[2020-10-27 02:14] hwchen opened #48 "Fix macos feature test, tests"
I just published a version of keyring with a macos feature that allows specifying the keychain. The test is a bit mucked up, I'm planning on creating a new keychain file in a temp directory but it's not quite working.

In the meantime, I just switched to github actions. I don't think I lost the ability to test linux (readme notes that it was just building and not testing, since I couldn't get the

[2020-11-03 04:12] simonsan commented on #16
It's done I think ;-)

[2020-11-03 16:42] edmellum opened #49 "Can't tell if a secret exists on Windows"
It looks to me like there's no way to get a `NoPasswordFound` from the Windows implementation which makes it hard to figure out if the library is failing or there's just no password set.

Long term maybe the API should be changed to return an `Option<T>` instead of returning an `Err` when there's no value?

[2020-11-03 17:04] hwchen commented on #49
This is pretty important, I'll try to look into this pretty soon.

[2020-12-13 22:56] hwchen commented on #49
Sorry it's taken a little while. I'm doing a round of maintenance on this project and `secret-service`, I should be getting to this after I [port](https://github.com/hwchen/secret-service-rs/pull/25) `secret-service` from dbus to zbus.

[2021-01-05 14:30] hwchen opened #54 "No backend error for Linux?"
See https://github.com/hwchen/secret-service-rs/issues/14

if secret service api not sound, perhaps return a new error, nobackendfound, instead of generic dbus error. Or perhaps some context would be sufficient?

[2021-01-14 15:03] #49 closed

[2021-03-28 23:14] adobeDan opened #60 "Incompatible with 3rd party (native) credential writers who use their own Target and User Name conventions"
At lines 97 and 98 of windows.rs (release 0.10.1), the `TargetName` is set to be `.`-join of user name and service name.  But this is an arbitrary convention of this rust project; there is no such requirement on TargetName when used by 3rd-party credential writers.  This makes it impossible to read 3rd-party credentials written by apps that don't use a '.' somewhere in their target name.

On the o

[2021-03-28 23:29] adobeDan commented on #60
I saw the note in the sources about issue jaraco/keyring#47 and I have no problem with prepending the username to the service when setting passwords, because each writer can have their own conventions.  But then there needs to be a way of specifying the target directly on reads.  One approach would be to have a different API (e.g., one with no username parameter, where the target is specified dire

[2021-03-29 00:05] adobeDan commented on #60
I'm submitting a very small PR which adopts the first option (add a windows-specific `get_password_for_target` entry which allows specifying the target explicitly).

[2021-04-04 14:39] hwchen opened #62 "Seeking maintainers"
Hi all,

I'm already unable to spend much, if any, energy on keyring-rs and secret-service-rs. In the near future, I'll have more family obligations and so will have even less energy.

So, I'm looking for some help. At the moment, I'm especially looking for people to help review/merge PRs. In the future, I may hand off publishing duties also, but I'm going to reserve that to myself for now.

I'd e

[2021-04-04 18:28] sayyedkamran commented on #62
Although I am not currently using it but I will be happy of I can be of any help, please.

Syed Kamran

[2021-04-29 15:45] phillipCouto commented on #62
I am more than happy to pitch in. We are actually using it to manage credentials for a desktop application my company ships. So the long term health of the project is important for my team.

[2021-05-07 22:43] complexspaces commented on #62
Hi there,

I'd be happy to help with the maintenance of the `secret-service` crate. My current employer is using it in our Linux desktop app.

[2021-05-08 14:34] hwchen commented on #62
Thanks to everybody for offering help! I'm going to prefer those who are currently depending on keyring and I'll send out invites shortly.

[2021-05-18 04:03] phillipCouto commented on #62
Thank you @hwchen, will you be creating any maintainer guidelines to setup the expectations of how you want us to help run the project?

[2021-05-24 21:32] adobeDan commented on #62
Hi @hwchen my company (Adobe) is also using keyring [in production](https://github.com/adobe/adobe-license-decoder.rs) and I would be happy to help with maintenance.  (FWIW, I currently have PR #61 pending which fixes issue #60.)

[2021-06-11 16:18] hwchen commented on #62
Thanks to @phillipCouto and @adobeDan for helping to maintain.

For now, I think it will be helpful to do some triaging of the PRs. For new feature PRs I'd probably want to have some discussion to make sure nothing will break, I'd prefer to be rather conservative. For the near future I'd like to have final say on merging, but it'll be great to have additional eyes on all the code. I'd like to fast

[2021-06-23 14:26] adobeDan commented on #62
Hi @hwchen apparently you sent my invitation on 6/11 when I was on vacation and not reading mail.  I'm back now and the invitation has expired.  Would you mind sending me a new invitation?  I'd love to help out here.

[2021-08-15 05:01] Macil opened #65 "KeyringError::NoPasswordFound is not used on MacOS"
On MacOS, if I try to get a nonexistent password, instead of getting an instance of KeyringError::NoPasswordFound I get `Mac Os Keychain Error: The specified item could not be found in the keychain.`.

The macos.rs file shows no uses of NoPasswordFound.

[2021-11-06 20:46] adobeDan commented on #62
Hi @hwchen I finally have some time to look though the backlog of PRs.  Is there anywhere in particular you would like me to start?  Perhaps you could indicate PRs you want me to look at by assigning them to me?

[2021-11-06 20:49] adobeDan commented on #60
Hi @hwchen what are your feelings about this PR?  I'd like to get it merged, since it's fully backwards-compatible and is required for one client.

[2021-11-07 00:42] adobeDan commented on #60
@1Dragoon notes in #64 that we should be able to set and delete as well as read password with alternate target conventions. This seems a good point to me.

[2021-11-07 00:46] adobeDan commented on #60
Thinking about this windows-only issue, the problem with adding windows-specific `with_target` APIs is that it forces callers to write platform specific code. So perhaps these calls should be added on all platforms (although they would not have a different function there).

[2021-11-07 00:59] hwchen commented on #62
@adobeDan thanks! Let me look through the backlog tomorrow. I have a bit more energy at the moment also, hopefully we can get some stuff finished off.

[2021-11-13 12:47] phillipCouto commented on #62
@hwchen  In regards to the backlog of PRs I am seeing them with conflicts and some recent changes may be stomping on older PRs.

How would you like to proceed? Do you want to have the older PRs merged through or do we ask the authors to reopen them based on latest if the changes are applicable.

Also how do you want to deal with breaking changes that would result in a major version bump versus a m

[2021-11-13 14:00] hwchen commented on #62
I think that with the new activity I'm prepared to have a major version bump. I haven't had time to review the older PRs, but we should probably check if there's any that can be merged before the breaking changes. Sorry I'm still a bit behind the ball on this, but feel free to ping on a PR that should have priority in merging.

[2021-11-13 15:58] adobeDan commented on #62
Hi @phillipCouto, @hwchen, my 2 cents:

I think once the changes for #67 and #70 are merged that we should do a major version bump, possibly even to 1.0.  #70 will be done by Monday, and #67 a few days after that.  If you two have any time, I think it would be great if you could review all the outstanding issues and PRs and mark them as one of:

* handled by #67 and #70
* should be taken into #67

[2021-11-13 17:18] adobeDan commented on #39
@moritzheiber Just wanted you to know that this is being addressed by #70, which introduces consistent error codes across platforms.

[2021-11-13 17:20] adobeDan commented on #16
Fixed by #66, which is now merged.

[2021-11-13 17:20] #16 closed

[2021-11-13 17:20] adobeDan commented on #65
This is being addressed by #70.  Stay tuned!

[2021-11-13 17:22] adobeDan commented on #54
This is being addressed by #70.  I still need to decide on all the error codes that we will surface.

[2021-11-13 17:26] adobeDan commented on #48
This issue has two parts:

1. use of non-OS file-based keychains (not to be confused with use of alternate OS keychains, such as System, which is the subject of #44).  This capability has now been deprecated on Mac, and never existed on iOS, so I believe this feature should be removed.
2. fixing the tests on all platforms.  this has been addressed in the latest release.

@hwchen I am going to clos

[2021-11-13 17:26] #48 closed

[2021-11-13 17:34] adobeDan commented on #46
@Riduidel It looks like lib-dbus is available on Raspbian now.  Can you please try using v0.10.4 on Raspbian?  I believe that the secret service update we took in 0.10.4 will make it work with the Raspbian dbus.

[2021-11-13 17:36] adobeDan commented on #44
Hi @nagasunilt , we are revamping platform support for keyring and have not lost track of this issue.  Both Mac and Linux support multiple named keychains (although Mac has now deprecated using file-based keychains so only the OS ones are available).  We will look at how to support opening other than the default keychain on all platforms.  Thanks!

[2021-11-13 17:40] adobeDan commented on #45
Hi @liamdawson, the underlying platform keychains do not all support the clear distinction between `username` and `service`, and none of them support wildcard searching.  So there's really no way to "iterate the keychain" looking for users of a given service.  So, I'm going to close this issue as "won't fix".

[2021-11-13 17:40] #45 closed

[2021-11-13 17:43] adobeDan commented on #42
@clintfred We are in the middle of revamping our platform support, and I believe we can probably support iOS fairly soon (because the Mac Secure Keychain APIs are roughly the same as on iOS).  I don't know enough about Android to know whether it supports the dbus library for IPC that the Linux secret-service depends on.  So probably I will work on iOS support sometime in the next month or two, aft

[2021-11-13 17:46] adobeDan commented on #36
Hi @dch, we have updated to the latest secret-service, and I believe it runs on BSD.  Can you try out the latest 0.10.4 release on BSD and let us know what you find?  Be sure to install lib-dbus on your BSD system if it's not already installed with the OS.

[2021-11-13 17:48] adobeDan commented on #34
@hwchen Is this still an active issue?  I don't see any use of skeptic in our Cargo.lock.

[2021-11-13 17:48] #34 closed

[2021-11-13 17:49] adobeDan commented on #25
This looks like a candidate for an error code and improved handling in #70.  I'll take a look.

[2021-11-13 17:51] adobeDan commented on #21
@hwchen I think this issue has been superseded by the work on #70 and our talk of a release there, yes?

[2021-11-13 17:51] #21 closed

[2021-11-13 17:52] adobeDan commented on #24
This is a good candidate for addressing in #70.  We should at least be able to say what the underlying errors are in each of the platforms in a cross-platform way.

[2021-11-13 17:53] adobeDan commented on #27
This has been fixed with #66 and release 0.10.4.

[2021-11-13 17:53] #27 closed

[2021-11-13 19:54] hwchen commented on #34
I think I removed it already.

[2021-11-13 19:57] hwchen commented on #21
Yes, makes sense

[2021-11-14 07:08] adobeDan commented on #15
This was fixed in release 0.10.4.  See the README for info about using the keyring on headless systems.

[2021-11-14 07:08] #15 closed

[2021-11-14 13:49] phillipCouto commented on #62
@adobeDan that it does, maybe we can use labels to make it easier to classify issues and PRs so that it is evident that one of us has already reviewed it.

[2021-11-14 23:56] adobeDan commented on #25
So I've done the research and I stand corrected about this having anything to do with error handling.  Although the Rust infrastructure for using dynamically loaded libraries has gotten pretty good over time, it would still be a tremendous amount of work for us to use secret-service this way.  In fact, I believe it would be far easier for our clients to use this approach with keyring than for us t

[2021-11-14 23:56] #25 closed

[2021-11-15 00:05] adobeDan commented on #28
This is fixed in #70 .

[2021-11-15 05:01] adobeDan commented on #62
I think that's a great idea, @phillipCouto.  I've gone through all the existing issues and classified them.  I've also assigned to me all the ones that I think are going to be fixed by #70.  I think we will be in good shape at that point.

[2021-11-20 19:27] karashiiro opened #71 "GitHub search results for this repository"
This package looks really useful, but it's surprisingly hard to find relative to how many stars it has. Here are some example searches that don't turn up this package:

[keyring rust](https://github.com/search?q=keyring+rust&type=repositories)
[keyring linux](https://github.com/search?l=Rust&q=keyring+linux&type=Repositories) and filtering Rust repositories
[keyring macos](https://github.com/searc

[2021-11-24 06:40] #28 closed

[2021-11-24 06:40] #60 closed

[2021-11-24 06:40] #65 closed

[2021-11-24 06:43] brotskydotcom commented on #71
Hi @karashiiro thanks much for pointing this out.  I've never really looked at keyboarding a repository before, so this will be a good learning experience.  I think we are more interested in this being discoverable on crates.io than we are on GitHub, but it can't hurt to make it discoverable both places.

[2021-11-24 06:50] brotskydotcom commented on #71
Hey @hwchen it looks like only the repository administrators can add topic keywords, so I've assigned this to you.  If you want to make me an admin, feel free to assign it back to me and I can take care of it.

[2021-11-24 06:51] brotskydotcom commented on #54
closed with merge of #70.

[2021-11-24 06:51] #54 closed

[2021-11-24 06:51] brotskydotcom commented on #39
closed with merge of #70.

[2021-11-24 06:51] #39 closed

[2021-11-24 06:52] brotskydotcom commented on #44
closed with merge of #70

[2021-11-24 06:52] #44 closed

[2021-11-24 06:52] brotskydotcom commented on #24
closed with merge of #70.

[2021-11-24 06:52] #24 closed

[2021-11-24 06:53] brotskydotcom commented on #62
Hi @hwchen, with 3 active maintainers, I suspect you can close this issue.

[2021-11-25 15:24] hwchen commented on #71
I've added topic keywords @karashiiro, thanks for bringing this up.

[2021-11-25 15:24] #71 closed

[2021-11-25 15:25] hwchen commented on #62
Makes sense, will close.

[2021-11-25 15:25] #62 closed

[2021-12-03 19:13] brotskydotcom commented on #42
OK so I have done a bunch of investigation into the iOS side of this and it's definitely a no-go as things stand today 😢.  MacOS and iOS have subtly different keychain support, and it looks like the Rust-supported platform interfaces are missing support for adding keychain entries on iOS.  I will ask a question of the maintainers about this, but before we add support in this module we are going to

[2021-12-04 05:34] brotskydotcom commented on #36
Hi @dch, I have been able to confirm that our recent 1.0 release runs on Free BSD if you use the Gnome desktop.  Closing this issue.

[2021-12-04 05:42] brotskydotcom commented on #46
@Riduidel Our newest 1.0 release should work fine on Raspbian as both secret service and dbus run fine there.  Closing this question.

[2021-12-04 05:42] #46 closed

[2022-01-02 07:25] brotskydotcom commented on #42
I've now contributed iOS support to the rust security-framework, and am extending keyring to support iOS.

[2022-01-04 00:56] lucasfernog opened #76 "`set_password` should create collection on Linux if it doesn't exist"
The Linux implementation throws an error if we use a collection that does not exist, [this is the code](https://github.com/hwchen/keyring-rs/blob/8b6a387f362740b054eaebd7c7e8a8dc4cfcd584/src/linux.rs#L25). I think it should create the collection if it is not found, or we should expose a method to create it. What do you think? I can PR this.

[2022-01-04 01:37] brotskydotcom commented on #76
Until now we have focused on creating and deleting items not collections (which are very platform-specific). And none of our public (platform-independent) API really addresses "groups" of items because they are so platform-specific.

I would be happy to look at a PR you submit for this, but please try to do it as an extension to the API so as to maintain backward compatibility. (Don't, for example

[2022-01-04 15:59] WilliamVenner opened #77 "Use `zeroize`"
Hi, when I came across this crate, [`zeroize`](https://docs.rs/zeroize/latest/zeroize/) came to mind, would this crate potentially benefit from zeroing out credentials when dropped?

[2022-01-09 01:24] brotskydotcom commented on #77
Hi @WilliamVenner, good question. My take is no, for the following reasons:

- the actual persistent storage of the credentials is in the platform credential store, which is encrypted and presumably secure against infiltration to discover dropped credentials.
- all this crate does is transport credentials in memory transiently; the actual in-memory persistent copy of the credential is returned to

[2022-01-09 01:24] #77 closed

[2022-01-24 15:52] rnbguy commented on #76
Looks like hwchen/secret-service-rs#27 needs to be closed for this.

[2022-02-05 07:14] brotskydotcom commented on #76
Hi @rnbguy and @lucasfernog, let me try to clarify what my feeling is about this.  The current API of Keyring (which is about to work for iOS as well) is that it gives access to and creates secrets in the existing collections of the underlying credential manager (which vary from platform to platform).  If you ask to create or read a secret in a collection that doesn't exist you get an error.  Beca

[2022-02-07 03:29] jyuch opened #79 "Compile error on Windows due to unresolved winapi"
# Environment
- Windows 10 21H2 (OS Build 19044.1466)
- target stable-x86_64-pc-windows-msvc
- rustc 1.58.1 (db9d1b20b 2022-01-20)
- cargo 1.58.0 (f01b232bc 2022-01-19)

# Procedure for reproducing

Create new cargo package.

[code]

Edit `Cargo.toml`.

[code]

Edit `src/main.rs`.

[code]

Build package and it produce following message.

[code]

[code]

[2022-02-07 04:16] jyuch commented on #79
Change edition to 2021, it produce following message.

[code]

[2022-02-07 06:56] brotskydotcom commented on #79
Thanks for catching this, and for tracking down the missing features.  The winapi docs are very unclear about how the features work.

[2022-02-07 07:05] #79 closed

[2022-02-08 02:01] #42 closed

[2022-02-22 11:01] PFC-developer opened #83 "keyring failing weirdly on a remote vm"
I've built a package that utilizes 0.1.x and it works fine on WSL linux.
I upgraded to 1.1.2, and it returns
[code]

also.. when using either on a remote linux vm, both fail.
I'm assuming it is a configuration issue on my end. but I have no idea where to start looking.

TIA

[2022-02-22 11:07] PFC-developer commented on #83
if it helps this is the output of 'secret-service-rs` on both machines
[code]
and
[code]

[2022-03-23 15:22] jkhsjdhjs opened #84 "v2: should get_password/get_credential use collection-level search?"
I'm using `spotifyd` while storing my credentials in my KeePassXC database, which has a SecretService implementation. KeePassXC has been updated recently and now supports prompting the user to confirm access of an application to a stored secret. This prompting doesn't seem to supported by keyring-rs, as the call of keyring-rs to `GetSecret` now fails with an error:
[code]

Here's an excerpt of a s

[2022-03-28 04:48] clickonetwo commented on #84
Hi @jkhsjdhjs, platforms vary tremendously in the way they approach programmatic unlocking.  All three platforms support the notion of a user unlocking secure storage from a UI session before programmatic access is attempted, and the keyring approach---in order to avoid dealing with platform-specific UI---has been to require this general unlock be performed before keyring access is attempted.

If

[2022-03-28 04:51] brotskydotcom commented on #84
Hi @jkhsjdhjs, platforms vary tremendously in the way they approach programmatic unlocking.  All three platforms support the notion of a user unlocking secure storage from a UI session before programmatic access is attempted, and the keyring approach---in order to avoid dealing with platform-specific UI---has been to require this general unlock be performed before keyring access is attempted.

If

[2022-03-28 04:58] brotskydotcom commented on #83
Hi @PFC-developer, sorry to take so long getting back to you.  I'm not really the Linux expert on the development team: @hwchen is.  I work exclusively in Ubuntu, and can't reproduce this failure there.  Can you try running again with the environment variable `RUST_BACKTRACE=1` set as suggested in the error message?  I might be able to help if I can see where in the call stack the failure occurs.

[2022-05-26 15:44] auderer opened #85 "Error code 1783 on Windows"
When trying to add a keyring entry on Windows, I get `Error code 1783` which seems to correlate to `RPC_X_BAD_STUB_DATA` in winapi.

[2022-05-27 17:29] jkhsjdhjs commented on #84
Alright, I finally had some time to have a look at this. Sorry for the late reply @brotskydotcom.
The following patch would add the functionality to this library:
[code]

It results in the following dbus communication when an item is not locked:
[code]

and in this one when an item is locked:
[code]

As can be seen, the `Prompt` function seems to be called implicitly after calling `Unlock`, this i

[2022-06-30 15:31] cvermilion opened #86 "Surprising feature on MacOS: empty service/account strings are wildcards"
The underlying [Security Framework functions](https://developer.apple.com/documentation/security/1397301-seckeychainfindgenericpassword) take optional arguments for the service and account strings, but this bubbles up to `keyring` as plain `&str`s. Passing an empty string is then treated as a non-provided optional argument rather than an explicit empty value. So, for example:

[code]

I've only te

[2022-06-30 18:50] brotskydotcom commented on #86
Great catch, @cvermilion, thanks!  I'm inclined to simply refuse empty user names, since that could easily be made consistent behavior across all platforms, and it would conceal this Apple-specific "wildcard" feature (which can't be exposed by keyring in a cross-platform way. because it doesn't exist on Windows).

[2022-06-30 19:17] cvermilion commented on #86
Yeah, I think that's a good plan. The "search if empty" feature sort of makes sense if you're familiar with the Apple APIs but otherwise is probably unexpected, so I don't think forbidding empty fields is a big loss. If someone wants this behavior on Mac/iOS they can use `security_framework` directly.

[2022-06-30 23:55] brotskydotcom commented on #86
So looking at the code, there's really no way of putting a general fix in without changing the API or allowing the code to panic.  This is because the signatures for `Entry::new` and friends don't allow for argument validation and graceful failure, so I can't easily refuse to allow credentials with empty service or user names.  Here are some options I'm considering:

- Up the major version and all

[2022-07-01 14:08] cvermilion commented on #86
FWIW, I think that's a sensible approach, and #87 looks fine to me. Allowing `Entry::new` to fail might be worth considering for the next major version but fixing this particular edge case is probably not worth an API change on its own.

I'm not sure whether it's worth worrying about users who relied on this behavior -- it seems possible that someone who worked exclusively on Mac/iOS might have ex

[2022-07-01 15:41] brotskydotcom commented on #86
Thanks for the review and the thoughtful comments!

It's hard to believe anyone is actually _relying_ on this on macOS/iOS, since it only works if the credential you're working with is either the only one with that service name or magically the "first" one the keyring decides to return.

My bigger concern is that someone might explicitly be using an empty username or service name in order to be co

[2022-07-02 19:35] brotskydotcom commented on #86
@cvermilion @hwchen I've updated the PR #87 per my last comment.  I'll merge later today or tomorrow unless someone objects.

[2022-07-03 16:19] #86 closed

[2022-08-03 14:24] moritzheiber opened #94 "How do you write unit tests involving keyring-rs?"
I was pondering on this question since before the 1.1.x releases and the refactored `Platform` and `PlatformCredential` data model.

Is it possible right now to write unit tests using the established mappers? `Platform` has not trait implementation, `PlatformCredential` also doesn't. On top of that, the implementation is "dynamically" chosen, depending on the operating system, which would mean I'd

[2022-08-03 16:14] brotskydotcom commented on #94
Hi @moritzheiber, I want to make sure that I understand your question.  There are already some unit tests, both of the platform-independent functionality and the platform-specific functionality, built into the code.  Are you hoping to do more of that kind of test, but from outside the module?  Can you give me an example of what kind of test you are thinking of?  Is there a reason why those tests m

[2022-08-03 18:26] moritzheiber commented on #94
My apologies, in hindsight I realize I should’ve been more clear about my intentions. I meant to ask about how I can write code, while using keyring-rs, and write unit tests for my own code which is interfacing with keyring-rs.

Usually, other potential crates have traits I can implement myself, abstracting most of the interfaces, or allow for passing your own implementation of OS-dependent module

[2022-08-03 18:36] brotskydotcom commented on #94
Ah!  I get it!  You want to _mock_ keyring for use in your own tests!  That's a terrific enhancement request, so I'm reclassifying this issue.  It should be easy to do this by adding a "mock" pseudo-platform.

A question back to you: do you need persistence between runs of your tests?  Doing in-memory mocking is trivial, but doing persistent mocking would require a simple database of some kind.

[2022-08-04 07:18] moritzheiber commented on #94
I do not believe persistence lends itself to the general idea of unit testing, i.e. the way the mock should work is that it gives back whatever you define as its double. It will mean a few extra steps between function calls, but overall that's a good price to pay for avoiding the complexity of stateful representations :slightly_smiling_face:

[2022-08-04 18:01] brotskydotcom commented on #94
That's fine if you are only *reading* mocked objects, but presumably mocks can be *set* as well as *read* (otherwise it's not a complete mock).  So the question is: how long should a mock that has been set persist its value?  From your reply above, I would assume that you aren't expecting mocks to retain their values between tests or between test runs, and that each mock should be a separate objec

[2022-08-05 10:32] moritzheiber commented on #94
Ideally, it would emulate whatever the actual Entry class gives you back in terms feedback or values, however, you would be able to set relevant responses yourself somehow.

Having the Entry or Keyring interface accept trait implementations would be another way to go, you could then just implement your own “TestKeyring” or “TestEntry”. That’s how I see commonly implemented with other crates.

[2022-08-05 16:31] brotskydotcom commented on #94
On the one hand, you are asking for a platform-independent mocking facility.  On the other hand, you are saying you want it to give back the same platform-specific errors that the Entry class returns?  That doesn't seem like a consistent position to me.  Can you specifically answer this question: do you need to test platform-specific error returns in your code?

Also: it's not clear to me what you

[2022-08-06 10:57] moritzheiber commented on #94
If at all I’d want to define the error return values myself when constructing the mock perhaps? Makes it a little more universal.

As for the trait approach, the cryptic crate does this: https://docs.rs/cryptex/latest/cryptex/trait.KeyRing.html

[2022-08-07 06:32] brotskydotcom commented on #94
OK, thanks for the pointer to [the Cryptex crate](https://docs.rs/cryptex/latest/cryptex/trait.KeyRing.html).  That clarifies for me a lot of what you are asking about.  Here's my take:

1. The Cryptex crate is designed to take pluggable implementations of `get_os_keyring` on different platform.  That's why it's written in terms of traits, and why it has no platform-specific types.  The simplest w

[2022-08-07 06:35] brotskydotcom commented on #85
@auderer Can you provide a minimal test program that reproduces this issue?  I can't reproduce it with `cli` example.

[2022-08-07 06:39] brotskydotcom commented on #84
@jkhsjdhjs Just wanted to let you know that I still haven't had time to look at this, but I haven't forgotten about it.  I've been sort of hoping @hwchen would take it on, since he's our secret-service expert.

[2022-08-07 16:27] jkhsjdhjs commented on #84
@brotskydotcom Thanks for letting me know! I investigated this a bit further and have to revise some previous statements:

While going through the SecretService specification I initially failed to notice that there are actually multiple interfaces:
The `SearchItems` method is specified for the `Service` interface and for the `Collection` interface as well.
`Collection.SearchItems` is actually spec

[2022-08-31 17:18] Sytten commented on #83
I am seeing this under Ubuntu in WSL, I think it might be related to a missing dbus?
[code]

[2022-08-31 17:33] Sytten opened #95 "Supporting pass as a fallback on linux"
Many headless linux don't have a great way to work with secret-service. This is detailed in the documentation already, though I had to also launch the dbus daemon with `export $(dbus-launch)` which I found [here](https://github.com/zowe/zowe-cli-scs-plugin/blob/master/README.md#linux-headless).
I think a good fallback would be to use pass as this is what docker does too to store credentials (searc

[2022-09-02 14:51] Sytten opened #96 "Async interface"
Hello!

Down in `secret-service` there are discussions to either replace the current sync interface or provide one alongside it (https://github.com/hwchen/secret-service-rs/issues/42). Since this will impact this crate I thought it would be a good idea to also start the discussion here.

Thanks

[2022-09-06 16:28] brotskydotcom commented on #95
@Sytten I assume you are talking about [this pass](https://www.passwordstore.org/).  I like that idea a lot, since I have personally been bitten by how useless secret-service is on headless servers (which, to my way of thinking, have some of the biggest needs for storing passwords).

Since pass is so flexible in how it stores things, we would have to come up with some keyring-specific conventions

[2022-09-06 16:30] brotskydotcom commented on #85
@auderer Since I haven't heard from you I'm going to close this issue.  I will reopen it if you can provide a repro.

[2022-09-06 16:31] brotskydotcom commented on #96
@hwchen Do you want to take this?

[2022-09-06 17:01] brotskydotcom commented on #83
@Sytten Yes, that's exactly what it's about.  I've updated this project's README to explain how to get keyring to work on headless linux boxes.  I'm going to close this bug request as a fixed documentation request for now, and mark it as cannot repro because I haven't gotten logs from @PFC-developer .

[2022-09-06 17:01] #83 closed

[2022-09-06 18:40] PFC-developer commented on #83
sorry for the tardiness @brotskydotcom .. I haven't gotten back to this, as I stopped using the tool I was writing.

[2022-09-06 21:18] Sytten commented on #95
Yes I am talking about this pass! We have the issue where a lot of our users run their server on headless and secret-service is usually not enabled (nor unlocked).

I would prefer to have the two options at runtime since I will prefer secret-service over pass when it's available. One other thing I need to figure out is how to ask the user to unlock the vault since our service is usually started on

[2022-09-07 07:40] brotskydotcom commented on #95
So I've been looking at pass more closely and it's not really suited for use from an API.  It's basically a collection of shell scripts, which presents some pretty big problems (from my perspective):

1. The overhead of starting and running not just one but two processes (the shell script and the `gpg` call) on every API access seems insanely high.
2. There is no good mechanism for communicating e

[2022-09-08 04:09] Sytten commented on #95
Hum those are very good points, I will investigate a bit more pass. There is a similar issue with secret service and the unlock function, which keyring currently just ignores and sets as a prerequisite (that is another discussion to be had). Solving that would be a good step in solving point 3

For points 1 and 2, I am wondring if a better approach would be to use a reimplementation like https://c

[2022-09-08 15:43] brotskydotcom commented on #95
@Sytten, thanks for tracking down the [passrs crate](https://crates.io/crates/passrs)!  I think that may actually be a better solution than keyring in the headless server case: see my side comment at the very end of this note.

I think we are getting to a fundamental design question concerning _this_ crate: is it meant to be a wrapper for the "native secure storage" of the underlying platform or i

[2022-09-08 16:16] Sytten commented on #95
Hum good points. I feel that maybe keyring should not unlock by default but should provide the primitives to abstract away the unlock and let the user of the crate handle how they want to unlock.

As per the integration of pass itself, it could be considered a won't fix yes. I would find it a bit annoying myself since that does mean having to make an exception on linux for cases where keyring cann

[2022-09-08 17:48] landhb commented on #95
I believe the most correct solution for a keyring on Linux without relying on an environment provided keyring like on KDE/Gnome is the one that has been provided by the kernel since Linux 2.6. Which also has a default keyring tied to UID:

https://man7.org/linux/man-pages/man7/keyrings.7.html

Using pass won't prevent the problem of needing to store secrets securely. Because pass itself needs some

[2022-09-08 18:56] brotskydotcom commented on #95
Great discussion, @Sytten and @landhb, thanks!  It is wonderfully helpful for me as a maintainer to get this feedback (and reassuring that some folks at least are using the crate :).

@landhb thanks so much for the pointer to Linux in-built keyrings!  I do not have the kind of in-depth background on Linux that I do on Mac and Windows so this kind of education is invaluable for me.  I agree that th

[2022-09-24 17:29] landhb commented on #95
@brotskydotcom I had a look at that other repo and just decided to write a Rust interface for keyutils. Hopefully it's useful enough for `keyring` to use as a backend.

[Repository](https://github.com/landhb/linux-keyutils)
[Docs](https://docs.rs/linux-keyutils/0.1.0/linux_keyutils/)
[Crates.io](https://crates.io/crates/linux-keyutils)

Basic usage:

[code]

[2022-09-24 18:27] brotskydotcom commented on #95
@landhb Your timing is perfect, thanks!  After doing a bunch of reading of keyrings-related man pages, and then looking at the existing keyutils crate, I had decided to build the traits and plug-ability of implementations first and then look at whether I could do a keyring-based implementation.  Your crate looks way better for that than the existing one, so thanks!

I have a question for you, as a

[2022-09-25 17:00] landhb commented on #95
@brotskydotcom No problem!

I believe your interpretation of the man pages is correct. The kernel keyring seems to be entirely in memory and ephemeral. Just with varying levels of longevity. So it would be appropriate to have the backend opt-in for users creating a headless Linux service or running on systems that don't use Gnome (one of my use-cases is my Arch i3wm laptop).

The "persistent" keyr

[2022-09-25 17:10] landhb commented on #95
Actually they may not even need to call `Entry::new` periodically if the keyring is linked to the session. But I'll have to test that.

It may actually be preferred to just use the User/Session keyrings themselves without a timeout if the systemd service they are making is tied to its own UID.

[2022-10-03 06:15] brotskydotcom opened #97 "Version 2: plug-in credential providers, and mocking"
OK, it's time for a v2 that addresses the issues raised in #94 and #95 (and provides the ability for clients to address the issues in #76 and #84).  Here are the enhancements needed:

1. The ability for 3rd parties to provide new credential storage mechanisms, and for clients to choose those as their default mechanism.
2.  Support for a "mock" credential store that allows controlling both return a

[2022-10-03 06:26] brotskydotcom commented on #97
Here are some design notes:

1. Platform credential stores now work by supporting two traits: the `CredentialAPI` (for operating on entries) and the `CredentialBuilderAPI` (for creating new entries).
2. The platform-independent `Error` class has been extended to handle parameter errors other than just "too long".
3. All the new traits are Sync and Send so that the interface is both thread-compatib

[2022-10-03 06:30] brotskydotcom commented on #95
Hi all, I've gotten to a proposed alpha release for the enhancements we've been discussing.  Please provide any design comments on #97 and any code feedback on #98.  I'll leave this issue open for @landhb to report progress on his new kernel-based provider.

[2022-10-03 06:33] brotskydotcom commented on #94
Hi @moritzheiber, I believe #97 (design comments welcome there) rolls up all the functionality you're requesting here.  I've proposed an alpha 2.0 release that provides this in #98 (code review welcome there).

I'm going to close this issue in favor of #97.

[2022-10-03 06:33] #94 closed

[2022-10-03 23:41] brotskydotcom commented on #84
@jkhsjdhjs I don't see an issue about this request to use `Collection.SearchItems` in the [secret-service issues list](https://github.com/hwchen/secret-service-rs/issues).  I know they are close to a new release so this would seem to be the right time for them to consider this?

I'm going to mark this issue as waiting for the secret-service enhancements.

[2022-10-08 04:08] landhb commented on #97
One note I noticed on the interface. Instead of having a mutable global that requires users to call:

[code]

Could we instead simply add another `Entry` method, which users could use like:

[code]

The implementation could simply be:

[code]

That then removes the need for the mutable global and makes the call thread safe.

[2022-10-08 04:15] landhb commented on #95
I think an intial impl of the new traits would probably look something like:

[code]

[2022-10-08 16:28] landhb commented on #97
For the mock usage, users could do something like:

[code]

[2022-10-08 17:23] landhb commented on #95
I'm not sure if you're open to having the implementation available to users of the library directly. But if so, it could be added as a cargo-feature:

[code]

And then in `lib.rs`:

[code]

And then users that need the headless implementation would put this in their Cargo.toml:

[code]

[2022-10-08 20:55] brotskydotcom commented on #95
Hi @landhb, yes, I was planning to include additional providers in much the way you suggest in your comment above.  Ironically, if it weren't for backward compatibility issues, I would actually make the linux-keyutils implementation the default one, because it's the only one that works well both on headless and headed systems.

Thanks for your implementation outline, by the way.  Now that I've fin

[2022-10-08 21:49] brotskydotcom commented on #97
Hi @landhb it's not clear to me what advantage `new_with_builder` has over the existing `new_with_credential`.  If someone has their hands on a desired credential builder, then they can just call it directly and pass the result to `new_with_credential` rather than having the crate make that call for them.  (Another advantage of `new_with_credential` is that it allows the client to control what arg

[2022-10-08 22:34] landhb commented on #95
Sweet sounds good! Thanks for all the recent API updates 💪

[2022-10-09 01:47] Sytten commented on #97
I like the new trait based approach, but dealing with the new async interface for secret service will be challenging. There is not currently a good answer except spawning a tokio runtime for the blocking call I am afraid (https://tokio.rs/tokio/topics/bridging). Meaning you also need to support different features for each too :/

[2022-10-09 17:12] landhb commented on #97
@brotskydotcom `new_with_credential` definitely fits that need as well. My thought process was if the library user can use the `Entry` API with their own builder then there may not be a need to allow them to override the global behavior. But if that option is desired it's possible to also use something like [once_cell](ttps://docs.rs/once_cell/latest/once_cell/) to ensure it's only set once. Or ju

[2022-10-09 17:17] Sytten commented on #97
Well I would not be against changing the underlining library but its a big task since you would also need to recreate a dbus library that is sync. That is why I suggested to use a single thread executor. I wish the standard library had a basic executor for this kind of situation.

[2022-10-09 17:36] landhb commented on #97
Is the `secret-service` crate fully removing their blocking interface?

https://github.com/hwchen/secret-service-rs/tree/master/src/blocking

[2022-10-09 22:18] Sytten commented on #97
No but they rely on the underlining dbus sync implementation which does what I said above aka spawn a single thread executor to run the async task.

[2022-10-10 05:31] brotskydotcom commented on #97
@landhb I thought about using a mutex but I didn't particularly want to slow down entry creation by forcing it to obtain the mutex to read the default builder each time.  But now that I've written that down I realize it's pretty silly: how long would that take :).

[2022-10-10 13:39] landhb commented on #95
@brotskydotcom I just upgrade from `1.2.0` to  `"2.0.0-alpha.2"` with the keyutils feature in my other project and it was essentially a drop in replacement!

New trait interface is an easy transition just added `?` to my `Entry::new` call haha

[2022-10-10 16:12] landhb commented on #97
@Sytten  would this not work for async applications using `keyring-rs`?

[code]

Just trying to understand the issue since I don't normally use a lot of async code. It seems it's okay to have `block_on` calls within a `spawn_blocking` call, according to:

https://github.com/tokio-rs/tokio/discussions/3717

And it seems the `async_io::block_on` method `zbus` is using doesn't spin up a new thread bu

[2022-10-10 16:34] landhb commented on #97
Ah I see what you mean. With the `tokio` feature of zbus, a new runtime is created: https://github.com/zeenix/zbus/blob/main/zbus/src/utils.rs#L50

I'm not sure what will happen for non-async code with the async_io version: https://github.com/zeenix/zbus/blob/main/zbus/src/utils.rs#L33

[2022-10-10 16:38] Sytten commented on #97
Apart from exposing an async interface this is usually the way it is done yes.

Its a bit annoying since it spawns a lot of single thread runtimes in the background but there is no way around this.

It will force non async users to choose a runtime and this is why I thought you wanted to eliminate dependency over zbus. Ideally zbus would have created interfaces for the backend they use (sync or as

[2022-10-10 16:39] landhb commented on #97
Yeah I agree that ideally the sync interface shouldn't require a runtime.

[2022-10-10 17:38] brotskydotcom commented on #95
@landhb Terrific!  Thanks for the feedback.  I'm about to push an alpha.3 that fixes an issue with checking for a key right after invalidation: sometimes you would get a PlatformFailure error instead of a NoEntry error.  At that point I will close this issue - thanks so much for all your contributions (which will be acknowledged in the readme!)

[2022-10-10 17:40] #95 closed

[2022-10-10 20:32] brotskydotcom commented on #97
OK, I have finished everything for this release other than updating to the new version of secret service, which I will start on now.  Feel free to download and use the alpha.3 that I published this morning (that still uses secret-service v2): all feedback welcome.

[2022-10-13 16:32] complexspaces commented on #97
FWIW, and I also noted this [here](https://github.com/hwchen/secret-service-rs/issues/42#issuecomment-1042331263), but I'd be willing to accept a different backend for the synchronous API in `secret-service` under a feature flag, if anyone is interested in that option to utilize in this crate.

[2022-10-14 02:21] Sytten commented on #97
That could work. The dbus-rs crates (that binds to C) offers a real blocking interface and doesn't require an async runtime so that would be a good candidate for an alternate backend. And it also offers an async interface so we dont have to break the async interface of secret service when using that flag.

[2022-10-18 01:09] complexspaces commented on #97
That sounds reasonable to me. I didn't even know it had an async interface 😄.